
#spring:
#  datasource:
#    driver-class-name: com.mysql.jdbc.Driver
#    url: jdbc:mysql://47.107.38.55:32768/dbgirl
#    username: root
#    password: 123456
#配置日志
#logging:
#  #配置日志文件路径
#  path: E:\ideagit\pfdistribution
#  level:
#    xatu.zsl: debug #不同目录下的日志可配置不同级别
#    org.springfromework.web: info
#    org.hibernate: error
